* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}

body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

main {
  /*background-image: url("../assets/7249399.jpg");
  background-repeat: no-repeat;
  background-size: contain;*/
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

main div {
  z-index: 1;
}

#img-container img {
  height: auto;
  width: 100vw;
}

#img-container {
  position: fixed;
  bottom: 0;
  z-index: 0;
}

header {
  background-color: #f37240;
  text-align: center;
  padding: 10px;
}

h1 {
  font-family: "Chelsea Market";
  color: #e4e6c3;
  text-shadow: 2px 2px black;
  font-size: 40px;
}

#watch {
  font-family: "Chelsea Market";
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#options select {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  background-color: #e4e6c3;
  padding: 5px;
}

button {
  width: 200px;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: #261c15;
}

button:active {
  background-color: #c5d86d;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  background-color: #c5d86d;
  transition: all 0.8s ease;
  width: 160px;
  height: 160px;
  margin: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}

.card img {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.front {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}

.hide {
  transition: opacity 200ms, display 200ms;
  display: none;
  opacity: 0;
}

.victory {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: fit-content;
  background-color: #c5d86d;
  color: rgb(12, 12, 12);
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-family: "Chelsea Market";
  font-size: larger;
  padding: 30px 0px 30px 0px;
  display: none;
  flex-direction: column;
  align-items: center;
}

#welcome {
  font-family: "Chelsea Market";
  font-size: larger;
  color: #f05d23;
}

#welcome-msg p {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  opacity: 1;
}

#welcome-msg {
  background-color: rgba(228, 230, 195);
  padding: 20px;
  margin: 30px 30px 0 30px;
  border: 1px solid #261c15;
}

.victory button {
  margin-top: 20px;
  display: block;
}

.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 400px;
  box-sizing: border-box;
}

.leaderboard-container {
  background-color: #e4e6c3;
  padding: 20px;
  margin: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.leaderboard-container h2 {
  font-family: "Chelsea Market";
}

#leaderboard {
  border: 1px solid rgb(12, 12, 12);
  background-color: #daeb8c;
  border-collapse: collapse;
  padding: 10px;
}

#leaderboard tr td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: #f05d23;
  color: white;
  margin: 0;
  border: 1px solid rgb(12, 12, 12);
  padding: 10px;
}

@media only screen and (min-width: 800px) {
  .game-container {
    width: 800px;
  }
}
