.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  width: 250px;
  height: 250px;
}

.front {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}

.hide {
  transition: opacity 200ms, display 200ms;
  display: none;
  opacity: 0;
}

/* .game-container {
  display: flex;
  flex-direction: row;
} */
